<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>ANZ Account Details</title>
</head>
<body>
<div align="center">
    <h1>Accounts</h1>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Account Number</th>
            <th>Account Name</th>
            <th>Account Type</th>
            <th>Balance</th>
            <th>Date</th>
            <th>Currency</th>
            <th>View</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="account : ${accountsList}">
            <td th:text="${account.account_number}">>Account Number</td>
            <td th:text="${account.account_name}">Account Name</td>
            <td th:text="${account.account_type}">Account Type</td>
            <td th:text="${account.account_balance}">Balance</td>
            <td th:text="${account.balance_date}">Date</td>
            <td th:text="${account.currency}">Currency</td>
            <td>
                <a th:href="@{'/transaction/'+ ${account.id}}">View</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>