<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>ANZ Account Holders</title>
</head>
<body>
<div align="center">
    <h1>Users List</h1>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${usersList}">
            <td th:text="${user.username}">User ID</td>
            <td th:text="${user.firstname}">Name</td>
            <td th:text="${user.surname}">Surname</td>
            <td>
                <a th:href="@{'/account/'+ ${user.id}}">View</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>