<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>ANZ Transactions</title>
</head>
<body>
<div align="center">
    <h1>Transactions</h1>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Transaction Description</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction : ${transactionSList}">
            <td th:text="${transaction.transaction_description}">>Transaction Description</td>
            <td th:text="${transaction.transaction_amount}">Amount</td>
            <td th:text="${transaction.transaction_type}">Type</td>
            <td th:text="${transaction.transaction_date}">Value Date</td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{'/account/'+ ${accountId}}">Back to Accounts</a>
</div>
</body>
</html>